<ion-toolbar color="primary">
  <ion-grid>
    <ion-row>
      <ion-col size="auto"><a [routerLink]="'/login'"><ion-icon name="arrow-back-outline" class="flecha"></ion-icon></a> </ion-col>
      <ion-col><ion-title class="titulo">Responda la pregunta secreta</ion-title></ion-col>
    </ion-row>
  </ion-grid>    
</ion-toolbar>

<ion-content>  
  <ion-card>
    <ion-card-subtitle>Ingresa tu respuesta: </ion-card-subtitle>
    <ion-input type="text" [(ngModel)]="respuesta" placeholder="Ingresa tu correo"></ion-input>
    <a (click)="validarRespuesta()">Recupera tu contraseña</a>
  </ion-card>
</ion-content>